@import '~@fortawesome/fontawesome-free/css/all.min.css';

.app-container {
  padding-bottom: 170px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}

.divider {
  margin: 24px 0;
  border: none;
  height: 1px;
  background-color: #ddd;
}

.city-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.city-card {
  width: 200px;
}
